<%# locals: (value:0, ci:0, cj:0, options:[] ) %>
<% i_class = "ci-#{ci}" %>
<% j_class = "cj-#{cj}" %>
<%= turbo_frame_tag "cell_#{ci}_#{cj}" do %>
    <div 
        class="cell <%= i_class + " " + j_class%>" 
        data-game-target="cell"
        data-value="<%= value %>"
        data-row="<%= ci %>"
        data-col="<%= cj %>"
        data-action="click->game#toggleEditMode"
        >
        <div 
            class="cell-corner-triangle <%= value == 0 ? "" : "d-none"%>" 
            data-action="click->game#toggleCellOptions" 
        ></div>
        <div class="cell-value">
            <%= value unless value == 0 %>
        </div>
        <div class="d-none cell-options">
            <% options.each do |opt| %>
                <%= opt %>
            <% end %>
        </div>
    </div>
<% end %>
