<% content_for :page_styles do %>
  <%= stylesheet_link_tag 'sudoku', media: 'all' %>
<% end %>
<div class="puzzler-outer" data-controller="game" data-game-difficulty-value="<%= @difficulty %>" data-action="keyup@window->game#handleKeyUp">
    <%= turbo_stream_from(:cell_squares) %>
    <%= turbo_stream_from(:game_board) %>

    <h1 class="puzzler-title">Sudoku Solver</h1>
    <%= render "sudoku/message_card" %>
    <div class="puzzler-board-container">
        <%= render "sudoku/game_board", puzzle: @puzzle %>
        <div class="puzzler-controls">
            <label for="difficulty-select" class="difficulty-label">Difficulty:</label>
            <select id="difficulty-select" class="difficulty-select" data-action="change->game#changeDifficulty">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
            <button data-action="click->game#toggleOptions" class="puzzler-btn puzzler-btn-primary">Show Options</button>
            <div data-toggle="tooltip" title="Fast solve will display the solution immediately.">
                <button type="button" data-action="click->game#solve" data-speed="fast" class="puzzler-btn puzzler-btn-success">Fast Solve</button>
            </div>
            <div data-toggle="tooltip" title="Slow solve will show the solving process step by step with a delay so you can watch." >
                <button type="button" data-action="click->game#solve" data-speed="slow" class="puzzler-btn puzzler-btn-success">Slow Solve</button>
            </div>
            <button type="button" data-action="click->game#newPuzzle" class="puzzler-btn puzzler-btn-warning">New Puzzle</button>
            <button type="button" data-action="click->game#clearPuzzle" class="puzzler-btn puzzler-btn-warning">Clear Puzzle</button>
        </div>
    </div>
</div>

