<% content_for :title, "El Marshall" %>
<% content_for :head do %>
  <%= stylesheet_link_tag "fullpage", media: "all" %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <%= javascript_include_tag "jquery.fullPage" %>
<% end %>

<% content_for :page_styles do %>
  <%= stylesheet_link_tag "portfolio", media: "all" %>
<% end %>

<div class="panel" id="fullpage">
  <%= render "portfolio/home/name_card" %>
  <%= render "portfolio/home/projects" %>
  <%= render "portfolio/home/attributions" %>
</div>
  